@font-face {
  font-family: space;
  src: url(font/SpaceMission-rgyw9.otf);
}
@font-face {
  font-family: konexy;
  src: url(font/KonexyPersonalUse-rg3wK.otf);
}
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} 
html {
  position: relative;
  min-height: 100vh;
}
a {
  font-family: konexy;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    opacity: .8;
    z-index: -2;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #760094;
  mix-blend-mode: overlay;
  z-index: -1;
  opacity: .9;
}
  .navbar {
    overflow: hidden;
    background-color: black;
    width: 100vw;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: space;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: space;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  p {
      color: white;
      font-family: konexy;
  }
  footer {
    width: 100vw;
    height: 250px;    
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-around;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
  }
  footer a {
    color: slategray;
  }
  footer a:hover {
    color: purple;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .btn {
    padding: 20px;
    margin: 20px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-family: space;
    font-size: 20px;
  }
  .btn:hover {
    background-color: red;
  }
  .cardRow {
    display: flex;
  }
  h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: space;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
  }
  .summaryBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
  }
.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.carousel2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slide {
  display: none;
}
.slide2 {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.carrotsellText {
  color: #f2f2f2;
  font-family: konexy;
  text-shadow: 2px 2px black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.carrotsellText2 {
  color: #f2f2f2;
  font-family: konexy;
  text-shadow: 2px 2px black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.active2, .dot:hover {
  background-color: #717171;
}
.mainTitle {
  padding-top: 35vh;
  font-size: 100px;
  font-family: space;
  text-align: center;
  overflow-x: visible;
}
.title {
  padding: 100px;
  font-size: 100px;
  font-family: space;
  text-align: center;
}
.jsButton {
  min-width: 5vw;
  height: 3vh;
  background-color: white;
  border-radius: 50px;
  font-family: konexy;
  padding: 2px;
  margin-bottom: 20px;
}
.jsButton:hover {
  background-color: gray;
}
.content {
  width: 75vw;
  margin: 10px;
  display: flex;
  justify-content: center;
}
#more1, #more2, #more3 {
  display: none;
}
.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.thanks {
  align-self: center;
}
@media (max-width: 680px) {
  .mainTitle {
    font-size: 70px;
  }
  .title {
    font-size: 70px;
  }
  .navbar a {
    padding: 14px 8px;
  }
  .dropbtn {
    padding: 14px 8px;
  }
  .cardRow {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    height: 500px;
    text-align: center;
  }
  .footerFlex {
    flex-direction: column;
  }
  body {
    padding-bottom: 500px;
  }
  .index {
    overflow-y: hidden;
  }
}
@media (max-width: 400px) {
  .mainTitle {
    font-size: 55px;
  }
  .title {
    font-size: 55px;
  }
  .navbar a {
    padding: 14px 4px;
  }
  .dropbtn {
    padding: 14px 4px;
  }
}